body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  perspective: 1px;
  font-family: "JetBrains Mono", monospace;
  overflow: hidden;
  background-color: var(--base3);
  color: var(--textF);
}

.workspace-container {
  position: relative;
  z-index: 400;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(var(--base6) 1px, var(--base4) 1px);
  background-size: 12px 12px;
}

.close-button {
  width: 20px;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  border: 0;
  color: var(--textF);
  background-color: var(--red1);
  justify-self: end;
}
.close-button:hover { background-color: var(--red2) }
.close-button:active { background-color: var(--red3) }
