body {
  margin: 0;
  padding: 0;
  background-color: var(--base4);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
}

.close-button {
  width: 20px;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  border: 0;
  color: var(--text1);
  background-color: var(--red1);
}
.close-button:hover { background-color: var(--red2) }
.close-button:active { background-color: var(--red3) }
