.recipe-selector {
  z-index: 1000;
  position: fixed;
  top: var(--topbar-height);
  display: grid;
  grid-template-areas:
    "rs-header rs-header"
    "rs-types rs-recipes";
  grid-template-columns: auto auto;
  width: fit-content;
  max-height: calc(100vh - var(--topbar-height) - 30px);
  box-sizing: border-box;
}

.recipe-selector-header {
  grid-area: rs-header;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--accent1);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.recipe-selector-types {
  grid-area: rs-types;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--topbar-height) - 30px);
  overflow: scroll;
  background-color: var(--recipe-selector-type);
}
.recipe-selector-recipe-type {
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}
.recipe-selector-recipe-type:hover {
  background-color: var(--recipe-selector-type-hover);
}

.recipe-selector-recipes {
  grid-area: rs-recipes;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--topbar-height) - 30px);
  overflow: scroll;
  cursor: pointer;
  border-collapse: collapse;
  border: 0;
  background-color: var(--recipe-selector-recipe);
}

.recipe-selector-recipe {
  padding: 2px 5px 2px 5px;
}

.recipe-selector-recipe-header {
  background-color: var(--recipe-selector-recipe);
}
.recipe-selector-i {
  vertical-align: text-top;
  padding: 2px 5px 2px 5px;
  background-color: var(--recipe-selector-recipe-input);
}
.recipe-selector-o {
  vertical-align: text-top;
  padding: 2px 5px 2px 5px;
  background-color: var(--recipe-selector-recipe-output);
}
.recipe-selector-recipe-input-counts {
  text-align: right;
}
.recipe-selector-recipe-output-counts {
  text-align: right;
}

.recipe-selector-recipe:hover .recipe-selector-recipe-header {
  background-color: var(--recipe-selector-recipe-header-hover);
}
.recipe-selector-recipe:hover .recipe-selector-i {
  background-color: var(--recipe-selector-recipe-input-hover);
}
.recipe-selector-recipe:hover .recipe-selector-o {
  background-color: var(--recipe-selector-recipe-output-hover);
}
